<div class="row">
    <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
        <form>
            <h1>Deleting the Post</h1>
            <hr/>
            <h4>Are you sure You want to Delete the blog Post </h4>
            <hr/>
            <div class="row">
                <div class = "col-xs-6 col-sm-4 col-md-4 ">
                    <div class = "form-group">
                        <button type = "submit" ng-click = "delete()" class = "btn btn-primary btn-block btn-md" tabindex = "1">
                            DELETE
                        </button>
                    </div>
                </div>
                <div class = "col-xs-6 col-sm-4 col-md-4">
                    <div class = "form-group">
                        <a href = "#/view/{{blog._id}}">
                            CANCEL
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </form>
    </div>
</div>