<div class="container-fluid">
  <ul class="nav navbar-nav navbar-right" ng-if="loggedIn">
    <li class="dropdown">
      <a class="dropdown-toggle"  data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
        Blogs
        <span class="caret">
         </span>
      </a>
      <ul>
        <li>
          <a ui-sref="create">
              Write A Blog
          </a>
        </li>
        <li>
          <a ui-sref="myblogs">
             View A Blog
          </a>
        </li>
        <li>
          <a ui-sref="latestpost">
          Surf Blogs
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown"  ng-if="loggedIn">
      <a class="dropdown-toggle"  data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
        {{displayName}}
        <span class="caret">
        </span>
      </a>
      <ul>
        <li>
        ` <a ui-sref="Saved">
            View Saved Blogs
          </a>
        </li>
        <li>
          <a ui-sref="home" ng-click="logout">
            LogOut
          </a>
        </li>
      </ul>    
    </li>
  </ul>
  <div ng-if="loggedIn">

    <div class="jumbotron">
  
      <center>
  
        <h1> {{displayName}} </h1>
  
        <p>
          <i> WE ARE GLAD YOU ARE BACK !!! </i>
        </p>
  
      </center>
  
    </div>
  
  </div>
</div>